term xterm-256color
shell .

font_family {{font.mono}}
font_size {{kitty.font-size}}
font_size_delta 1
adjust_line_height 0
adjust_column_width 0
box_drawing_scale 0.0001, 1.1, 1.5, 2
cursor_shape underline
url_style curly
window_padding_width 15
background_opacity 1
x11_bell_volume 0
cursor_blink_interval 0.5
cursor_stop_blinking_after 15.0
scrollback_lines 2000
scrollback_pager less +G -R
wheel_scroll_multiplier 5.0
click_interval 0.5
mouse_hide_wait 3.0
focus_follows_mouse no
repaint_delay 10
input_delay 3
visual_bell_duration 0.0
enable_audio_bell no
allow_remote_control yes

select_by_word_characters :@-./_~?&=%+#
rectangle_select_modifiers ctrl+alt

open_url_modifiers ctrl+shift
open_url_with default

map ctrl+shift+v paste_from_clipboard
map ctrl+shift+c copy_to_clipboard
map ctrl+shift+k scroll_line_up
map ctrl+shift+j scroll_line_down
map ctrl+shift+b scroll_page_up
map ctrl+shift+f scroll_page_down
map ctrl+shift+backspace restore_font_size
map ctrl+shift+up increase_font_size
map ctrl+shift+down decrease_font_size

selection_foreground {{special.background}}
selection_background {{special.cursor}}
foreground   {{special.foreground}}
background   {{special.background}}
url_color    {{colors.color4}}
cursor       {{special.cursor}}

color0  {{colors.color0}}
color1  {{colors.color1}}
color2  {{colors.color2}}
color3  {{colors.color3}}
color4  {{colors.color4}}
color5  {{colors.color5}}
color6  {{colors.color6}}
color7  {{colors.color7}}
color8  {{colors.color8}}
color9  {{colors.color9}}
color10 {{colors.color10}}
color11 {{colors.color11}}
color12 {{colors.color12}}
color13 {{colors.color13}}
color14 {{colors.color14}}
color15 {{colors.color15}}

