#!/usr/bin/env sh

#
# configure x11
# 

{{#is_laptop}}
xrandr --output eDP1 --set "Broadcast RGB" "Full"
xrandr --output eDP1 --dpi {{x11.dpi}}
{{/is_laptop}}

setxkbmap pl dvp
{{#is_laptop}}
setxkbmap -option altwin:swap_lalt_lwin
{{/is_laptop}}

# keyboard repeat rate
xset r rate 200 30

# lefty apple wireless mouse
#xinput set-button-map 13 3 2 1

# add font search paths
xset +fp /usr/share/fonts/TTF,/usr/share/fonts/OTF,/usr/share/fonts/noto
xset +fp ~/.local/share/fonts

# update visual settings
xrdb -merge ~/.config/X11/Xresources

# set default mouse cursor
xsetroot -cursor_name left_ptr

#
# launch programs
#

# input method
export XMODIFIERS=@im=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx

# fix qt theme
export GTK2_RC_FILES=$HOME/.gtkrc-2.0
export QT_QPA_PLATFORMTHEME=qt5ct
export SXHKD_SHELL=/bin/sh
#export GDK_DPI_SCALE={{gtk.widget-scale}}
#export QT_AUTO_SCREEN_SCALE_FACTOR={{qt.widget-scale}}

{{#is_laptop}}
xbacklight -set 60
{{/is_laptop}}

numlockx &
sxhkd -m -1 &
dunst &
compton &
paper -i {{wallpaper}} &
polybar -r right &
polybar -r left &
devmon &
mpd &
exec bspwm

# vim: ft=sh
