! vim: ft=xdefaults

!-------------------------------------------
! Xcursor

Xcursor.theme: {{cursor.theme}}
Xcursor.size: {{cursor.size}}

!-------------------------------------------
! XFT

Xft.dpi:        {{x11.dpi}}
Xft.antialias:  true 
Xft.autohint:   false 
Xft.hinting:    {{font.hint-enable}}
Xft.hintstyle:  {{font.hint-style}}
Xft.lcdfilter:  {{font.lcd-filter}}
Xft.rgba:       {{font.lcd-rgba}}

!-------------------------------------------
! URxvt

URxvt.font: xft:{{font.mono}}:size={{urxvt.font-size}},xft:{{font.jpn}},xft:{{font.kor}},xft:{{font.sym}},xft:{{font.ico}}
URxvt.termName: xterm-256color
URxvt.internalBorder: {{terminal.border}}
URxvt.jumpScroll: true
URxvt.dynamicColors: on
URxvt.urgentOnBell: true
URxvt.borderless: true
URxvt.scrollBar: false
URxvt.cursorUnderline: true
URxvt.cursorBlink: true
URxvt.underlineURLs: true
URxvt.urlLauncher: firefox
URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot
!URxvt.background: rgba:0000/0000/0000/d200
URxvt.transparent: false
URxvt.depth: 32
URxvt.iso14755: false

!-------------------------------------------
! st
!

st.font: {{font.mono}}:pixelsize={{st.font-size}}:antialias=true:autohint=false
st.borderpx: {{terminal.border}}
st.cursorshape: 4
st.cursorthickness: 2
st.cursorblinkstyle: 0
st.cursorblinkontype: 0
st.bold_font: 1
st.xfps: 120
st.actionfps: 60
st.cwscale: 1.0
st.chscale: 1.0
st.termname: xterm-256color
st.opacity: 250

!-------------------------------------------
! rofi

rofi.fullscreen: false
rofi.font: {{font.mono}} {{rofi.font-size}}
rofi.terminal: sh
rofi.width: 35 
rofi.padding: 12 
rofi.lines: 16 
rofi.line-margin: 10
rofi.separator-style: none 
rofi.hide-scrollbar: false
rofi.scrollbar-width: 2
rofi.color-enabled: true
rofi.bw: 0

! ------------------------------------------
! colors

*foreground:   {{special.foreground}}
*background:   {{special.background}}
*borderColor:  {{special.background}}
*cursorColor:  {{special.cursor}}

*color0:  {{colors.color0}}
*color1:  {{colors.color1}}
*color2:  {{colors.color2}}
*color3:  {{colors.color3}}
*color4:  {{colors.color4}}
*color5:  {{colors.color5}}
*color6:  {{colors.color6}}
*color7:  {{colors.color7}}
*color8:  {{colors.color8}}
*color9:  {{colors.color9}}
*color10: {{colors.color10}}
*color11: {{colors.color11}}
*color12: {{colors.color12}}
*color13: {{colors.color13}}
*color14: {{colors.color14}}
*color15: {{colors.color15}}

