/*
 * |------------------------------------------------------------------------------------|
 * | #window {BOX:vertical}                                                             |
 * | |-------------------------------------------------------------------------------|  |
 * | | #mainbox  {BOX:vertical}                                                      |  |
 * | | |---------------------------------------------------------------------------| |  |
 * | | | #inputbar {BOX:horizontal}                                                | |  |
 * | | | |---------| |-----------------------------------------------------| |---| | |  |
 * | | | | #prompt | | #entry                                              | |#ci| | |  |
 * | | | |---------| |-----------------------------------------------------| |---| | |  |
 * | | |---------------------------------------------------------------------------| |  |
 * | |                                                                               |  |
 * | | |---------------------------------------------------------------------------| |  |
 * | | | #message                                                                  | |  |
 * | | | |-----------------------------------------------------------------------| | |  |
 * | | | | #textbox                                                              | | |  |
 * | | | |-----------------------------------------------------------------------| | |  |
 * | | |---------------------------------------------------------------------------| |  |
 * | |                                                                               |  |
 * | | |-----------------------------------------------------------------------------|  |
 * | | | #listview                                                                   |  |
 * | | |-----------------------------------------------------------------------------|  |
 * | |                                                                               |  |
 * | | |---------------------------------------------------------------------------| |  |
 * | | | #sidebar {BOX:horizontal}                                                 | |  |
 * | | | |---------------|   |---------------|  |--------------| |---------------| | |  |
 * | | | | Button        |   | Button        |  | Button       | | Button        | | |  |
 * | | | |---------------|   |---------------|  |--------------| |---------------| | |  |
 * | | |---------------------------------------------------------------------------| |  |
 * | |-------------------------------------------------------------------------------|  |
 * |------------------------------------------------------------------------------------|
**/

* {
    fg: #e7e6e1;
    bg: #150e12;
    dimmed: #e7e6e1AA;

    font: "mononoki 16";
    background-color: transparent;
    text-color: @fg;
}

window {
    background-color: @bg;
    border-color: @fg;
    width: 25%;
}

mainbox {
    children: [ inputbar, separator, message, listview, sidebar ];
}

separator {
    expand: false;
    margin: 0;
    border: 0px solid 0 0 0;
    border-color: #e7e6e1FF;
}

textbox {
    text-color: @dimmed;
}

inputbar {
}

listview {
}

element {
}

element selected {
    background-color: @fg;
    text-color: @bg;
}

inputbar {
    children: [ prompt, textbox-prompt-colon, entry, case-indicator ];
}

textbox-prompt-colon {
    text-color: @fg;
    expand: false;
    str: ": ";
}


//
// Layout
//

window   { padding: 0; border: 1px; }
inputbar { padding: 2px 15px; margin: 15px 0 5px 0; }
textbox  { padding: 2px 15px; margin: 5px 0 5px 0; }
element  { padding: 2px 15px; }
listview { margin: 5px 0 15px 0; }
//separator { margin: 15px 0; }

