#!/usr/bin/env bash
# vim: ft=sh

bspc monitor --reset-desktops {{bspwm.desktop_names}}

bspc config border_width   {{bspwm.border_width}}
bspc config window_gap     {{bspwm.window_gap}}

bspc config top_padding    {{bspwm.window_padding.top}}
bspc config bottom_padding {{bspwm.window_padding.bottom}}
bspc config right_padding  {{bspwm.window_padding.right}}
bspc config left_padding   {{bspwm.window_padding.left}}

bspc config split_ratio 0.5
bspc config borderless_monocle true
bspc config gapless_monocle true
bspc config focus_follows_pointer true

bspc config normal_border_color   "{{colors.color0}}"
bspc config focused_border_color  "{{colors.color15}}"
bspc config presel_feedback_color "{{colors.color2}}"
bspc config active_border_color   "{{colors.color8}}"

# remove all rules in case we're reloading bspwm
bspc rule -r '*'

bspc rule -a '*:floating' state=floating
floating=(mpv Sxiv qBittorrent Octave devel)
for class in "${floating[@]}"; do
	bspc rule -a $class state=floating
done

